
@font-face {
    font-family: 'PTS'; /* Имя шрифта */
    src: local('PTS'),
    url('fonts/pts.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}
html,
body
{

}
.di-panel
{
    /*display: none;*/
    position: absolute;
    width: 204px;
    height: auto;
    background-color: #ffffff;
    z-index: 50000;
    top: 32px;
    left: -1px;
    border: 1px solid #d1d1d1;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0 5px 34px -12px #668aa9;
}
.di-picker
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: PTS, Tahoma;
    height: 30px;
    width: 80px;
    position: relative;
    border: 1px solid #d1d1d1;
    padding: 0;
    margin: 0 auto;
    display: inline-flex;
}
input.di-picker__value
{
    width: 100%;
    height: 100%;
    padding: 0!important;
    margin: 0;
    text-align: center;
    line-height: 30px;
    border: 0;
    outline: 0;
    outline-offset:0;
}

.diP-header
{
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: inline-flex;
}
.diP-header__name
{
    font-size: 16px;
    width:  128px;
    height: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 1px;
}
.diP-header__prev
{
    height: 100%;
    width: 37px;
    display: inline-block;
    font-size: 25px;
    text-align: right;
    padding-right: 4px;
}
.diP-header__next
{
    height: 100%;
    width: 37px;
    display: inline-block;
    font-size: 25px;
    text-align: left;
    padding-left: 4px;

}
.diP-header__prev:hover,
.diP-header__next:hover
{
    cursor: pointer;
}
.di-panel__data
{
    width: 100%;
    height: auto;
    font-size: 12px;
}
.di-panel__data .di-picker__week:first-child
{
    font-size: 10px;
}

.di-picker__week
{
    width: 161px;
    height: 23px;
    margin: 0 auto;
}
.di-picker__week div.di-picker__day:nth-child(6),
.di-picker__week div.di-picker__day:nth-child(7),
.di-picker__week div.di-picker__day_name:nth-child(6),
.di-picker__week div.di-picker__day_name:nth-child(7){
    color: #ff0000;
}
.di-picker__day,
.di-picker__day_name
{
    width: 23px;
    height: 23px;
    line-height: 27px;
    text-align: center;    float: left;
}
.di-picker__day:not(.-empty):hover
{
    line-height: 25px;
    border: 1px dotted #d1d1d1;
    cursor: pointer;
}
.di-picker__day.-future
{
    opacity: 0.5;
}
.di-picker__day.-selected
{
    background-color: #fee991;
}
.di-picker__day.-today
{
    position: relative;
}
.di-picker__day.-today:after
{
    content: '';
    background-color: #f69415;
    width: 15px;
    height: 3px;
    position: absolute;
    bottom: 1px;
    left: 4px;
}
.di-picker__day.-today:hover:after
{
    bottom: 0;
    left: 3px;
}
/**/
.dspl-none
{
    display: none;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}